html,
body {
  height: 100%;
  background-color: rgb(169, 201, 190);
}

label{
  font-size: 0.7em;
  padding-top: 0.25rem;
}

.fw-normal{
  font-size: 1.5rem;
  font-weight: bolder;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: 1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.middle{
  border-radius: 0;
  margin-bottom: 1px;
}
.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.text-body-secondary{
  font-size: 0.8rem;
  text-align: center;
}